<div class="container">
    <h3 mat-dialog-title>Add new Employee</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="title" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" (keyup)='checkMail()' placeholder="Email" [(ngModel)]="data.email" name="state" required >
          <mat-error *ngIf="formControl.invalid || emailValid">Email is not valid</mat-error>
          
          <!-- <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
        <div class='errorStyle' *ngIf="emailValid">Email is invalid</div>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" (keyup)="onKeyUp($event,'contactnumber')" placeholder="contactnumber" [(ngModel)]="data.contactnumber" name="url" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control"  (keyup)="onKeyUp($event,'salary')" placeholder="salary" [(ngModel)]="data.salary" name="salary" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form" *ngIf=department>
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Department" [(ngModel)]="data.department" name="url" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="form" *ngIf=employeelist>
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Employee List" [(ngModel)]="data.employeeList" name="url" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div> -->
      
  
      <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!formControl.valid || emailValid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  